<header class="bg-darkGreen border-gray-200 dark:bg-gray-500 text-white">
  <div class="w-full mx-auto max-w-screen-xl">
    <div
      class="container mx-auto px-4 flex justify-between items-center py-3 max-w-full"
    >
      <div class="text-lg font-bold">
        <a routerLink="/" class="flex items-center space-x-3">
          <img
            src="../../../assets/images/logo.png"
            class="h-12"
            alt="Manage Charts Logo"
          />
          <span class="text-xl dark:text-white">Manage Charts</span>
        </a>
      </div>
      <nav class="hidden md:flex space-x-4">
        <a
          routerLink="/"
          routerLinkActive="bg-activeGreen"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:bg-blue-700 px-3 py-2 rounded"
          >View mode</a
        >
        <a
          routerLink="/settings"
          routerLinkActive="bg-activeGreen"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:bg-blue-700 px-3 py-2 rounded"
          >Settings</a
        >
      </nav>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center rounded-lg md:hidden hover:bg-gray-100 focus:ring-2"
        (click)="toggleMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <nav
      [ngClass]="{
        'block flex items-end flex-col': isMenuOpen,
        hidden: !isMenuOpen
      }"
      class="md:hidden bg-blue-600"
    >
      <a
        routerLink="/"
        routerLinkActive="bg-activeGreen"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block px-4 py-2 hover:bg-blue-700 w-[110px]"
        >View mode</a
      >
      <a
        routerLink="/settings"
        routerLinkActive="bg-activeGreen"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block px-4 py-2 hover:bg-blue-700 w-[110px]"
        >Settings</a
      >
    </nav>
  </div>
</header>
