<header class="bg-darkGreen border-gray-200 dark:bg-gray-500 text-white">
  <div class="w-full mx-auto max-w-screen-xl">
    <div class="container mx-auto px-4 flex justify-between items-center py-3">
      <div class="text-lg font-bold">
        <a routerLink="/" class="flex items-center space-x-3">
          <img
            src="../../../assets/images/logo.png"
            class="h-12"
            alt="Manage Charts Logo"
          />
          <span class="text-xl  dark:text-white"
            >Manage Charts</span
          >
        </a>
      </div>
      <nav class="hidden md:flex space-x-4">
        <a routerLink="/" class="hover:bg-blue-700 px-3 py-2 rounded">Home</a>
        <a routerLink="/settings" class="hover:bg-blue-700 px-3 py-2 rounded"
          >Settings</a
        >
      </nav>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center rounded-lg md:hidden hover:bg-gray-100 focus:ring-2"
        (click)="toggleMenu()"
      >
        <img
          src="../../../assets/images/menu-icon.svg"
          alt="Description of the image"
        />
      </button>
    </div>
    <nav
      [ngClass]="{
        'block flex items-end flex-col': isMenuOpen,
        hidden: !isMenuOpen
      }"
      class="md:hidden bg-blue-600"
    >
      <a routerLink="/" class="block px-4 py-2 hover:bg-blue-700">Home</a>
      <a routerLink="/settings" class="block px-4 py-2 hover:bg-blue-700"
        >Settings</a
      >
    </nav>
  </div>
</header>
