<h2 mat-dialog-title>Chart Details</h2>
<mat-dialog-content>
  <form [formGroup]="chartForm" (ngSubmit)="onSubmit()" class="flex flex-col">
    <input formControlName="id" class="custom-input" type="hidden" />
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      @if(chartForm.get('name')?.invalid) {
      <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <select matNativeControl required formControlName="type">
        @for (type of chartTypes; track type) {
        <option [value]="type.value">{{ type.name }}</option>
        }
      </select>
      @if(chartForm.get('type')?.invalid) {
      <mat-error>Type is required</mat-error>
      }
    </mat-form-field>

    <!-- Colors form array -->
    <div class="p-2 border border-gray-200 rounded mb-2">
      <h4 class="mb-2">Select series color</h4>
      <ng-container formArrayName="colors">
        <div class="flex flex-wrap gap-8 mb-4">
          @for (item of colors.controls; track item; let i = $index) {
          <div [formGroupName]="i" class="flex flex-row gap-1">
            <label
              for="hs-color-input"
              class="block text-sm font-medium dark:text-white w-14"
              >{{ item.value.name }}</label
            >

            <input
              type="color"
              class="w-6 h-6 cursor-pointer rounded-lg shadow-lg"
              id="hs-color-input"
              title="Click to Choose the series color"
              formControlName="color"
            />
          </div>
          }
        </div>
      </ng-container>
    </div>

    <div mat-dialog-actions class="flex !justify-end">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="chartForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-dialog-content>
